<center>
<h2>Login</h2>
<form method="POST">
  Username <input name="username" required placeholder="Username"> <br><br>
  Password <input type="password" name="password" required placeholder="Password"> <br><br>
   <button type="submit">Login</button>
   <a href="/register">Register</a>
</form>
</center>