<center>
<h2>Register</h2>
<form method="POST">
  Username <input name="username" required placeholder="Username"> <br> <br>
  Password <input type="password" name="password" required placeholder="Password"> <br> <br>
  <button type="submit">Register</button>
  <a href="/login">Login</a>
</form>
</center>